option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: chronomoment.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: chronomoment.settings
    PYTHONPATH: /var/app/current:$PYTHONPATH
